*{
	margin: 0;padding: 0
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	vertical-align: baseline;
}

* {
	font-family: Kanit, sans-serif;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body{
	background: linear-gradient(rgb(254, 234, 126) 0%, rgb(248, 247, 237) 100%);
	margin: 0;padding: 0
}
		
body img {
	height: auto;
	max-width: 100%;
}

.itemName{
	text-align: center;
	font-size: 25px;
	margin-bottom: 18px;
	letter-spacing: 0.05em;
	cursor: pointer;

}
.fudVta {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	padding: 0;
	min-height: calc(100vh - 64px);
	background: linear-gradient(rgb(254, 234, 126) 0%, rgb(248, 247, 237) 100%);
}

.fudVta {
	padding: 20px 10px;
	min-height: calc(100vh - 100px);
	box-sizing: border-box;

}

.eLoomw {
	width: 100%;
	height: 100%;
	max-width: 500px;
	overflow: inherit;
	background: rgb(255, 255, 255);
	border-radius: 12px;
	padding: 20px;
	box-sizing: border-box;
	min-height: 350px;

}

.headinfo{
	letter-spacing: 0.03em;
	margin-bottom: 25px;
}
.pool,.account {
	background-color: #f9f5ec;
	padding: 10px 12px;
	border-radius: 8px;
	margin-top: 12px;
	border: 1px solid #f4f4e9;
	letter-spacing: 0.05em;


}

.account{
	background-color: rgb(244, 244, 233);
	position: relative;
}
.other {
	background-color: rgb(244, 244, 233);
	/* padding: 10px 12px; */
	border-radius: 8px;
	margin-top: 12px;
	border: 1px solid #f4f4e9;
	position: relative;
}


.div1 {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;

}

.font1 {
	font-size: 16px;
	color: green;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.05em;
}

.reverse{
	font-size: 16px;
	width: 48%;
	position: relative;
	-webkit-box-align: center;
	align-items: center;
	border: 0px;
	border-radius: 12px;
	cursor: pointer;
	/* 			    display: inline-flex; */
	/* font-family: inherit; */
	font-size: 16px;
	/*     font-weight: 600; */
	-webkit-box-pack: center;
	/* 			    justify-content: center; */
	letter-spacing: 0.03em;
	/* line-height: 1; */
	opacity: 1;
	outline: 0px;
	user-select: none;
}

.balance  {
	font-size: 16px;
	color: black;
	font-weight: 800;
	user-select: none;
	letter-spacing: 0.03em;
}
.account{
	user-select: none;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 0.05em;

}


.koisfk{
	position: relative;
	-webkit-box-align: center;
	align-items: center;
	border: 0px;
	border-radius: 12px;
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	-webkit-box-pack: center;
	justify-content: center;
	letter-spacing: 0.03em;
	line-height: 1;
	opacity: 1;
	outline: 0px;
	transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
	min-height: 48px;
	padding: 0px 24px;
	background-color: rgb(250, 221, 70);
	box-shadow: none;
	color: rgb(43, 40, 4);
	width: 48%;

}

.gvGfTO {
	position: relative;
	-webkit-box-align: center;
	align-items: center;
	border: 0px;
	border-radius: 12px;
	cursor: pointer;
	display: inline-flex;
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	-webkit-box-pack: center;
	justify-content: center;
	letter-spacing: 0.03em;
	line-height: 1;
	opacity: 1;
	outline: 0px;
	transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
	min-height: 48px;
	padding: 0px 24px;
	background-color: rgb(242, 243, 227);
	box-shadow: none;
	color: rgb(43, 40, 4);
	width: 48%;
}

button:hover{
	opacity:0.5;  
}

.gGRQZP {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.kTbsxI {
		background-color: rgb(244, 244, 233);
		border-radius: 8px;
		box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
		color: rgb(17, 16, 15);
		display: block;
		font-size: 16px;
		height: 40px;
		outline: 0px;
		padding: 0px 16px;
		width: 100%;
		/* border: 1px solid rgb(227, 227, 219); */
	}

	.kTbsxI {
		padding-left: 80px;
	}
	.inputlabel{
		font-size: 14px;
		position:absolute;
    	top:15px;
		left:10px;
	}

	
	.tradelabel{
		position: absolute;
		z-index: 999;
		display: flex;
		height: 40px;
		top:0;
		left:0;
		padding: 0 10px;
		box-sizing: border-box;
		align-items: center;
		flex-direction: row;
		cursor: pointer;
		width: 100%;

		font-family: inherit;
		justify-content: space-between;
	}