html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                vertical-align: baseline;
            }

            /*!sc*/
            article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
                display: block;
            }

            /*!sc*/
            body {
                line-height: 1;
                font-size: 16px;
            }

            /*!sc*/
            ol,ul {
                list-style: disc;
                list-style-position: inside;
            }

            /*!sc*/
            blockquote,q {
                quotes: none;
            }

            /*!sc*/
            blockquote:before,blockquote:after,q:before,q:after {
                content: "";
                content: none;
            }

            /*!sc*/
            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            /*!sc*/
            a {
                color: inherit;
                -webkit-text-decoration: none;
                text-decoration: none;
            }

            /*!sc*/
            [role="button"] {
                cursor: pointer;
            }

            /*!sc*/
            *,*::before,*::after {
                box-sizing: border-box;
            }

            /*!sc*/
            * {
                font-family: 'Kanit',sans-serif;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

            /*!sc*/
            input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /*!sc*/
            input[type=number] {
                -moz-appearance: textfield;
            }

            /*!sc*/
            ::-webkit-scrollbar {
                width: 8px;
            }

            /*!sc*/
            ::-webkit-scrollbar-thumb {
                background: #7A6EAA;
                border-radius: 8px;
            }

            /*!sc*/
            ::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px #eeeaf4;
                border-radius: 10px;
            }

            /*!sc*/
            input[type=range] {
                -webkit-appearance: none;
                width: 100%;
                background: transparent;
            }

            /*!sc*/
            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            /*!sc*/
            input[type=range]:focus {
                outline: none;
            }

            /*!sc*/
            input[type=range]::-ms-track {
                width: 100%;
                cursor: pointer;
                background: transparent;
                border-color: transparent;
                color: transparent;
            }

            /*!sc*/
            data-styled.g1[id="sc-global-duuJyL1"] {
                content: "sc-global-duuJyL1,"
            }

            /*!sc*/
            * {
                font-family: 'Kanit',sans-serif;
            }

            /*!sc*/
            body {
                background-color: #FAF9FA;
            }

            /*!sc*/
            body img {
                height: auto;
                max-width: 100%;
            }

            /*!sc*/
            data-styled.g99[id="sc-global-kynYSM1"] {
                content: "sc-global-kynYSM1,"
            }

            /*!sc*/

	 	 

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcoaR.woff) format('woff')
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKU-Go6G5tXcr5KPyWj.woff) format('woff')
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcraBGwCKd6xBDFs.woff2) format('woff2');
                unicode-range: U+0E01-0E5B,U+200C-200D,U+25CC
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcraaGwCKd6xBDFs.woff2) format('woff2');
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcrabGwCKd6xBDFs.woff2) format('woff2');
                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 400;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcraVGwCKd6xB.woff2) format('woff2');
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKU-Go6G5tXcr5KPxWzVaFrNlJzIu4.woff2) format('woff2');
                unicode-range: U+0E01-0E5B,U+200C-200D,U+25CC
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKU-Go6G5tXcr5KPxWoVaFrNlJzIu4.woff2) format('woff2');
                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKU-Go6G5tXcr5KPxWpVaFrNlJzIu4.woff2) format('woff2');
                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
            }

            @font-face {
                font-family: 'Kanit';
                font-style: normal;
                font-weight: 600;
                font-display: swap;
                src: url(https://fonts.gstatic.com/s/kanit/v12/nKKU-Go6G5tXcr5KPxWnVaFrNlJz.woff2) format('woff2');
                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
            }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    font-family: Kanit, sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
}

 body{
 	 background: linear-gradient(rgb(254, 234, 126) 0%, rgb(248, 247, 237) 100%);
 	 margin: 0;padding: 0
}
	 	 
body img {
    height: auto;
    max-width: 100%;
}


.bvrvHG {
    position: relative;
    width: 100%;
}	 	 

	
.fudVta {
	    display: flex;
	    flex-direction: column;
	    -webkit-box-align: center;
	    align-items: center;
	    width: 100%;
	    padding: 16px 16px 0px;
	    min-height: calc(100vh - 64px);
	    background: linear-gradient(rgb(254, 234, 126) 0%, rgb(248, 247, 237) 100%);
	}
	
	.fudVta {
		padding: 32px 32px 0px;
		min-height: calc(100vh - 100px);
}
	
	 .fluUA {
	    border-radius: 24px;
	    max-width: 436px;
	    width: 100%;
	    z-index: 1;

}

.hVnebo {
    border-radius: 12px;
    color: rgb(17, 16, 15);
    overflow: hidden;
    position: relative;
}
.eLoomw {
    width: 100%;
    height: 100%;
    overflow: inherit;
    background: rgb(255, 255, 255);
    border-radius: 12px;
}

.koisfk{
	    position: relative;
	    -webkit-box-align: center;
	    align-items: center;
	    border: 0px;
	    border-radius: 12px;
	    cursor: pointer;
	    display: inline-flex;
	    font-family: inherit;
	    font-size: 16px;
	    font-weight: 600;
	    -webkit-box-pack: center;
	    justify-content: center;
	    letter-spacing: 0.03em;
	    line-height: 1;
	    opacity: 1;
	    outline: 0px;
	    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
	    min-height: 48px;
	    padding: 0px 24px;
	    background-color: rgb(250, 221, 70);
	    box-shadow: none;
	    color: rgb(43, 40, 4);
	    width: 48%;
		
	}
	
	.gvGfTO {
		    position: relative;
		    -webkit-box-align: center;
		    align-items: center;
		    border: 0px;
		    border-radius: 12px;
		    cursor: pointer;
		    display: inline-flex;
		    font-family: inherit;
		    font-size: 16px;
		    font-weight: 600;
		    -webkit-box-pack: center;
		    justify-content: center;
		    letter-spacing: 0.03em;
		    line-height: 1;
		    opacity: 1;
		    outline: 0px;
		    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
		    min-height: 48px;
		    padding: 0px 24px;
		    background-color: rgb(242, 243, 227);
		    box-shadow: none;
		    color: rgb(43, 40, 4);
		    width: 48%;
		}
		
		button:hover{
			opacity:0.5;  
		}
		
		.order-box{
			margin-bottom: 10px;
		}
		
		.fFsEGx {
		    color: rgb(17, 16, 15);
		    font-weight: 400;
		    line-height: 1.5;
		    margin-right: 6px;
		    text-align: center;
		    font-size: 20px;
		}
		
		.jdlnRz {
		    display: flex;
		    -webkit-box-pack: justify;
		    justify-content: space-between;
		    -webkit-box-align: center;
		    align-items: center;
		}
		
		.jdlnRz {
		    display: flex;
		    -webkit-box-pack: justify;
		    justify-content: space-between;
		    -webkit-box-align: center;
		    align-items: center;
		}
		

		.ksSyMM {
		    margin-top: 5px;
		    margin-bottom: 4px;
		    margin-left: 6px;
		}
		
		.csqZAq {
		    font-size: 20px;
		    font-weight: 600;
		    line-height: 1.1;
		}
		
	   .iNAtzy {
		    color: rgb(17, 16, 15);
/* 				    font-weight: 600; */
/* 				    line-height: 1.5; */
		    margin-left: 6px;
/* 				    font-size: 16px; */
		}
		
		.jMtDSu {
		    padding: 0px;
		    width: 32px;
		}
		
		.eYEeao {
		    position: relative;
		    -webkit-box-align: center;
		    align-items: center;
		    border: 0px;
		    border-radius: 12px;
		    cursor: pointer;
		    display: inline-flex;
		    font-family: inherit;
		    font-size: 16px;
		    font-weight: 600;
		    -webkit-box-pack: center;
		    justify-content: center;
		    letter-spacing: 0.03em;
		    line-height: 1;
		    opacity: 1;
		    outline: 0px;
		    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
		    min-height: 32px;
		    padding: 0px 16px;
		    background-color: transparent;
		    color: rgb(43, 40, 4);
		    box-shadow: none;
		    margin-right: 0px;
		}
		.hBHgZr {
		    display: flex;
		    -webkit-box-align: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    justify-content: center;
		}
		.fFsEGx {
		    color: rgb(17, 16, 15);
		    font-weight: 400;
		    line-height: 1.5;
		    margin-right: 6px;
		    text-align: center;
		    font-size: 20px;
		}
		
		.zepLm {
		    color: rgb(17, 16, 15);
		    font-weight: 400;
		    line-height: 1.5;
		    margin-top: 3px;
		    margin-right: 3px;
		    font-size: 14px;
		}
		
		.bvkLBb {
		    align-self: center;
		    fill: rgb(53, 50, 52);
		    flex-shrink: 0;
		}
		
		.cNmXJB {
		    display: flex;
		    flex-flow: row nowrap;
		    -webkit-box-align: center;
		    align-items: center;
		    color: rgb(17, 16, 15);
		    font-size: 0.75rem;
		    line-height: 1rem;
		    flex: 1 1 0%;
		}
		
		.kTbsxI {
		    background-color: rgb(244, 244, 233);
		    border-radius: 8px;
		    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
		    color: rgb(17, 16, 15);
		    display: block;
		    font-size: 16px;
		    height: 40px;
		    outline: 0px;
		    padding: 0px 16px;
		    width: 100%;
		    border: 1px solid rgb(227, 227, 219);
		}
		
		.gGRQZP {
		    display: flex;
		    -webkit-box-align: center;
		    align-items: center;
		    -webkit-box-pack: justify;
		    justify-content: space-between;
		}
		
		.kIwkkY {
		    margin-bottom: 12px;
		}
		
		.kTbsxI {
		    background-color: rgb(244, 244, 233);
		    border-radius: 8px;
		    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
		    color: rgb(17, 16, 15);
		    display: block;
		    font-size: 16px;
		    height: 40px;
		    outline: 0px;
		    padding: 0px 16px;
		    width: 100%;
		    border: 1px solid rgb(227, 227, 219);
		}
		
		.jTXIJI {
		    margin-top: 12px;
		}
		
		input {
		    writing-mode: horizontal-tb !important;
		    font-style: ;
		    font-variant-ligatures: ;
		    font-variant-caps: ;
		    font-variant-numeric: ;
		    font-variant-east-asian: ;
		    font-weight: ;
		    font-stretch: ;
		    font-size: ;
		    font-family: ;
		    text-rendering: auto;
		    color: fieldtext;
		    letter-spacing: normal;
		    word-spacing: normal;
		    line-height: normal;
		    text-transform: none;
		    text-indent: 0px;
		    text-shadow: none;
		    display: inline-block;
		    text-align: start;
		    appearance: auto;
		    -webkit-rtl-ordering: logical;
		    cursor: text;
		    background-color: field;
		    margin: 0em;
		    padding: 1px 2px;
		    border-width: 2px;
		    border-style: inset;
		    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
		    border-image: initial;
		}
		
		.eTAsR {
		    display: grid;
		    gap: 16px 2px;
		    grid-template-columns: repeat(4, auto);
		    margin-top: 16px;
		    padding: 0px 3px;
		}
		
		.czKbTW {
		    flex-direction: column;
		}

		.fOPopv {
		    display: flex;
		}
		
.hUlRzh {
		margin-left: 24px;
}				
		.bnXPKY {
		    height: 10px;
		    background-color: rgb(250, 221, 70);
		    border-radius: 3px;
		}
		
		.ibDMAf {
		    color: rgb(53, 50, 52);
		    font-weight: 400;
		    line-height: 1.5;
		    font-size: 12px;
		    text-align: center;
		}
		
		.jdlnRz {
		    display: flex;
		    -webkit-box-pack: justify;
		    justify-content: space-between;
		    -webkit-box-align: center;
		    align-items: center;
		}

		.gBErVW {
		    margin-top: 12px;
		    margin-bottom: 2px;
		    margin-left: 4px;
		}

		.jPppJN {
		    position: relative;
		    -webkit-box-align: center;
		    align-items: center;
		    border: 0px;
		    border-radius: 12px;
		    cursor: pointer;
		    display: inline-flex;
		    font-family: inherit;
		    font-size: 16px;
		    font-weight: 600;
		    -webkit-box-pack: center;
		    justify-content: center;
		    letter-spacing: 0.03em;
		    line-height: 1;
		    opacity: 1;
		    outline: 0px;
		    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
		    min-height: 48px;
		    padding: 0px 24px;
		    background-color: rgb(250, 221, 70);
		    box-shadow: none;
		    color: rgb(43, 40, 4);
		    width: 100%;
		}
		
.cNmXJB {
	display: flex;
	flex-flow: row nowrap;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(17, 16, 15);
	font-size: 0.75rem;
	line-height: 1rem;
	flex: 1 1 0%;
}
		
.eWnBmj {
	color: rgb(17, 16, 15);
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
}

.jgeIif {
	color: rgb(17, 16, 15);
	font-weight: 400;
	line-height: 1.5;
	margin-top: 3px;
	font-size: 18px;
}

.gkLvaY {
	color: rgb(153, 153, 153);
	font-weight: 400;
	line-height: 1.5;
	font-size: 13px;
}

.hCEkfg {
	position: fixed;
	top: 0px;
	left: 0px;
	transition: top 0.2s ease 0s;
	height: 56px;
	width: 100%;
	z-index: 20;
}

.hfVtcO {
display: flex;
-webkit-box-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
align-items: center;
width: 100%;
height: 56px;
background-color: rgb(255, 255, 255);
transform: translate3d(0px, 0px, 0px);
padding-left: 16px;
padding-right: 16px;
}

.fOPopv {
display: flex;
}

.kXqBxS {
display: flex;
-webkit-box-align: center;
align-items: center;
}

a {
color: inherit;
text-decoration: none;
}

.chfQFH {
display: flex;
-webkit-box-align: center;
align-items: center;
}

.jGvODc {
height: 100%;
}

.ihvJKo {
align-self: center;
fill: rgb(53, 50, 52);
flex-shrink: 0;
margin-right: 0.5rem;
}

.bBxuMu {
position: relative;
-webkit-box-align: center;
align-items: center;
border: 0px;
border-radius: 12px;
cursor: pointer;
display: inline-flex;
font-family: inherit;
font-size: 16px;
font-weight: 600;
-webkit-box-pack: center;
justify-content: center;
letter-spacing: 0.03em;
line-height: 1;
opacity: 1;
outline: 0px;
transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
min-height: 32px;
padding: 0px 16px;
background-color: rgb(250, 221, 70);
box-shadow: none;
color: rgb(43, 40, 4);
}

.iHNDNR {
display: none;
}

/*
.bdcnXX {
position: relative;
display: flex;
}
*/

.hrcVdZ {
		margin-top: 57px;
}

.eTkYRU {
		position: relative;
}
.eTkYRU:hover .sc-e05a0484-0, .eTkYRU:focus-within .sc-e05a0484-0 {
		opacity: 1;
		max-height: 400px;
		overflow-y: auto;
		transition: max-height 0s ease 0s, opacity 0.3s ease-in-out 0s;
		pointer-events: auto;
}

.kGJReL {
		width: max-content;
		display: flex;
		flex-direction: column;
		position: absolute;
		transform: translate(-50%, 0px);
		left: 50%;
		bottom: auto;
		background-color: rgb(255, 255, 255);
		box-shadow: rgb(25 19 38 / 10%) 0px 2px 12px -8px, rgb(25 19 38 / 5%) 0px 1px 1px;
		padding: 16px;
		max-height: 0px;
		overflow: hidden;
		z-index: 10;
		border-radius: 4px;
		opacity: 0;
		transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;
		will-change: opacity;
		pointer-events: none;
}

.eFruoX {
		margin-top: 4px;
}

.kmKWfE {
		position: relative;
		-webkit-box-align: center;
		align-items: center;
		border: 0px;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-weight: 600;
		-webkit-box-pack: center;
		justify-content: center;
		letter-spacing: 0.03em;
		line-height: 1;
		opacity: 1;
		outline: 0px;
		transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
		min-height: 20px;
		font-size: 12px;
		padding: 0px 8px;
		border-radius: 3px;
		background-color: transparent;
		color: rgb(43, 40, 4);
		box-shadow: none;
}


a {
	color: inherit;
	text-decoration: none;
}

.gqvhTP a:hover{
	background: rgb(239,240,	220);
	border-radius: 10px
}

.iXqCiO {
    padding-top: 4px;
    padding-bottom: 4px;
}

.gqvhTP {
    position: relative;
}

.fsUJkJ {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(53, 50, 52);
    font-size: 16px;
    font-weight: 400;
    padding: 0px 16px;
    height: 48px;
}

.bBrIhI {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(17, 16, 15);
    font-size: 16px;
    font-weight: 600;
    padding: 0px 16px;
    height: 48px;
}

element.style {
    min-height: 32px;
    height: auto;
}

.ceffxd {
    color: rgb(17, 16, 15);
    padding: 0px 8px;
    border-radius: 8px;
}

.izjuYr {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    min-height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(43, 40, 4);
    box-shadow: none;
}

.clNWGR {
    height: 10px;
    background-color: rgb(244, 244, 233);
    border-radius: 3px;
}

/*
input:focus  {	
	border:  4px  rgb(156,119,226) solid;	

}
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(53, 50, 52);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: rgb(244 244 233) 0px 0px 5px inset;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgb(122, 110, 170);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: rgb(238 234 244) 0px 0px 5px inset;
    border-radius: 10px;
}

/* /// */

element.style {
    transform: translateX(0px);
}

.cLeFgH.appear {
    animation: 0.3s ease-in-out 0s 1 normal forwards running fGxCd;
}

.cLeFgH {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    z-index: 99;
    will-change: opacity;
/*     opacity: 0; */
}

.bIkZbc {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 13, 95, 0.6);
    z-index: 20;
    will-change: opacity;
    animation: 350ms ease 0s 1 normal forwards running dHqLl;
}

.bMLsBE {
    max-width: 420px;
    width: 100%;
}
@media screen and (min-width: 370px)
<style>
.fbKkmc {
    width: auto;
    max-width: 100%;
}

.fbKkmc {
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgb(14 14 44 / 10%) 0px 20px 36px -8px, rgb(0 0 0 / 5%) 0px 1px 1px;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 32px;
    width: 100%;
    max-height: calc(var(--vh,1vh) * 100);
    z-index: 100;
}

.fMQjEU {
    min-width: 320px;
}

.jTXgXZ {
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
}

.jtuYYv {
    display: flex;
}

.jbrLxW {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
}

.eOXvol {
    color: rgb(40, 13, 95);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}

.kdRdbF {
    padding: 0px;
    width: 48px;
}

.iaMcVa {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}

.blbDWP {
    padding: 24px;
    overflow-y: auto;
}

.jVLkwS {
    flex-direction: column;
    max-height: calc(var(--vh,1vh) * 90);
    overflow-y: auto;
}

.jtuYYv {
    display: flex;
}

.hrZVLm {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 16px;
}

.cPWSLh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
}

.bFkEuq {
    background-color: rgb(238, 234, 244);
    border-radius: 16px;
    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95);
    display: block;
    font-size: 16px;
    height: 48px;
    outline: 0px;
    padding: 0px 16px;
    width: 100%;
    border: 1px solid rgb(215, 202, 236);
}

.eerxsc {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.kyGZSl {
    padding: 4px 20px;
    height: 56px;
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
}

.gtZlqJ {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 4px;
}

.fwUTPD {
    width: fit-content;
}
.iBrnJD {
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.cPWSLh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
}

.cIMRyq {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    color: rgb(31, 199, 212);
    box-shadow: none;
}

.equrHE {
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid rgb(231, 227, 235);
    display: flex;
    padding: 12px 24px;
}

.jTXgXZ {
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
}

.jtuYYv {
    display: flex;
}

.fZmEax {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
<style>
body img {
    height: auto;
    max-width: 100%;
}

.gtZlqJ {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 4px;
}

.cPGBuZ {
    flex-wrap: wrap;
}

.cPWSLh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
}

.cPGBuZ > * {
}

.dSAEHF {
    color: rgb(40, 13, 95);
    font-weight: 400;
    line-height: 1.5;
    margin-right: 8px;
    font-size: 16px;
}


.dEYBcK {
    color: rgb(189, 194, 196);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

.bqAHGd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    font-size: 12px;
}

.fwUTPD {
    width: fit-content;
}

.cPWSLh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
}

.wTvRf {
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    margin-right: 4px;
    font-size: 10px;
}

.bttrtQ {
    width: 12px;
    height: 12px;
}

.fwUTPD > * {
}

.fwUTPD {
    width: fit-content;
}
<style>
.cPWSLh {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
}

.kNqVut {
    height: 16px;
    width: 16px;
    margin-right: 6px;
    stroke: rgb(49, 208, 170);
}

.iTOkPw {
    color: rgb(49, 208, 170);
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
}

@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none))

.etGTJB {
    filter: none !important;
}

.etGTJB {
    align-self: center;
    fill: rgb(31, 199, 212);
    flex-shrink: 0;
}

.fZgMKC {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 32px;
    padding: 0px 16px;
    background-color: rgb(31, 199, 212);
    color: white;
    width: fit-content;
}

.icHAxT {
    color: rgb(122, 110, 170);
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
}
.searchToken{
	cursor:pointer
}


.hide{
	display: none;
}

.show{
	display: block;
}

/*
.showToken{
	display: none;
}
*/

.nofind{
	display: none;
}

.jDZOrS {
    -webkit-box-flex: 1;
    flex-grow: 1;
    transition: margin-top 0.2s ease 0s, margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translate3d(0px, 0px, 0px);
    max-width: 100%;
    padding-bottom: 60px;
}

.chfQFH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.jGvODc {
    height: 100%;
}

.bQZVOx {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(242, 243, 227);
    border-radius: 12px;
    display: inline-flex;
    height: 32px;
    padding: 0px 8px;
    position: relative;
}

.hkEVeD {
	    background-color: rgb(238, 234, 244);
	    border-radius: 16px;
	    box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
	    color: rgb(40, 13, 95);
	    display: block;
	    font-size: 16px;
	    height: 32px;
	    outline: 0px;
	    padding: 0px 16px;
	    width: 100%;
	    border: 1px solid rgb(215, 202, 236);
	}       
	
.hkEVeD:focus:not(:disabled) {
    box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

.bFkEuq:focus:not(:disabled) {
    box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

.kTbsxI:focus:not(:disabled) {
    box-shadow: rgb(118 69 217) 0px 0px 0px 1px, rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}


.fOPopv {
    display: flex;
}
.cXqOIA {
    padding: 0.4rem 0.5rem;
    background-color: rgb(246, 243, 241);
}

.vbTuS {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 12px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    min-height: 32px;
    padding: 0px 16px;
    background-color: transparent;
    color: rgb(43, 40, 4);
    box-shadow: none;
}

